
<div class="static-page">


	<div class="col-md-4 col-md-offset-4">

		<div class="list-group">
			<li class="list-group-empty" ng-if="accounts.length==0">
				No Stored Accounts
			</li>
			<button type="button" ng-click="authAccount(account)" class="list-group-item list-group-item-lg" ng-repeat="account in accounts track by $index" ng-class="{'list-group-item-text-danger':edit.mode}">
				<span class="pull-right text-danger" ng-show="edit.mode"><i class="fa fa-fw fa-trash"></i></span>
				<i class="fa fa-fw fa-user"></i> {{account.email}}
			</button>
		</div>
		<div class="list-group-remove">
			<a href ng-if="accounts.length>0" ng-click="edit.mode=!edit.mode" type="button" ng-class="{'text-danger':!edit.mode}">
				<span ng-if="edit.mode==false"><i class="fa fa-fw fa-trash"></i> Remove Accounts</span>
				<span ng-if="edit.mode==true"><i class="fa fa-fw fa-check"></i> Done</span>
			</a>
		</div>


		<div class="list-group">
			<button ui-sref="addaccount" type="button" class="list-group-item">
				<i class="fa fa-plus"></i> Add Account
			</button>
		</div>

		<!-- <div class="panel panel-default">
		  <div class="panel-body">
				<a ui-sref="addaccount" class="btn btn-primary btn-block">Add Account</a>
			</div>
		</div> -->
	</div>

</div>
